
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card p-3 border-0 shadow-m">
                <div class="text-center fs-4 mb-3">Welcome <strong class="txt-color2">Abhijeet Singh</strong></div>
                <form action="/student/changepass" method="post">
                    <h5>Old Password</h5>
                    <input type="password" class="form-control" required name="opasswd"/>
                    <h5>New Password</h5>
                    <input type="password" class="form-control" required name="npasswd"/>
                    <h5>Confirm New Password</h5>
                    <input type="password" class="form-control" required name="cpasswd"/>
                    <input type="submit" class="form-control bg-mycolor2" value="Reset Password"/>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

