
@{
    ViewBag.Title = "courses";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container mb-5">
    <div class="fs-3 text-center my-2 fw-bold">My Courses</div>
    <div class="row">
        @if (ViewBag.cat.Rows.Count > 0)
        {
            foreach (var row in ViewBag.cat.Rows)
            {

                <div class="col-sm-3">
                    <a href="/student/videolecture?catid=@row[0]" style="text-decoration:none">
                        <!--Card -->
                        <div class="card mx-auto border-0 shadow-lg p-2 position-relative rounded-2" style="width: 15rem;">

                            <img src="~/Content/catpic/@row[2]" class="card-img-top img-fluid" alt="..." />
                            <div class="position-absolute top-5 start-5 badge bg-mycolor3">@row[3]</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">@row[1]</h5>
                            </div>
                        </div>
                        <!--Card -->
                    </a>
                </div>
            }
        }
       
    </div>
</div>

