
@{
    ViewBag.Title = "softwarekit";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container">
    <div class="fs-3 my-3 text-center">Software <strong>Kit</strong></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card border-0 p-2 shadow-lg">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/images/img/about-10.jpg" class="img-fluid w-100" style="max-height:150px"/>
                    </div>
                    <div class="col-sm-9">
                        <p class="fs-4">Visual Studio || Community Setup 2023 Version</p>
                        <p class="">Step To Install</p>
                        <a class="btn bg-mycolor1">Download <i class="fa-solid fa-download"></i></a> |<b>Added On:</b><span> 22/Sep/2024</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

